{% extends 'layouts/layout.html' %}

{% block title  %}{{title}}{% endblock %}

{% block content%}
    <div id="contenido">
        <div class="info">
            <span class="logo">
                <img src="../static/img/ocasa_icono.png" />
            </span>
            <h1>GERENCIA DE TRANSPORTE Y CORREO</h1>
        </div>
        <h2>Identificáte para ingresar</h2>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class= "alert alert-warning">
               {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <div id="login">
        
        <form method="post" action="">
             {% csrf_token %}
            <p>
                <label id="user" for="username" class="icon">U</label>
                <input type="email" name="username" />
            </p>

            <p>
                <label id="password" for="password" class="icon">w</label>
                <input type="password" name="password" />
            </p>

            <input type="submit" value="Login" />
            <input type="reset" value="Limpiar" />

            <a href="#">¿Has olvvidado tu contraseña?</a>
        </form>
    </div>

     
    </section>
{%endblock%}